@charset "utf-8";

* {margin:0; padding:0; box-sizing: border-box;}

#notigel {
    max-width: 400px; border:5px solid red; margin:auto;
    height:400px; position:relative;
}

h2 {display: inline-block; border:1px solid gray; padding:3px 6px;}
h2:first-of-type {background: gold;}
h2:last-of-type {background: gray;}


#notice { position: relative; margin-top: 5px; z-index: 1; }
#notice ol {list-style-position: inside; background: gold;  height:300px; }

#gallery {position: absolute; left:0; width:100%; top:50px;}

#gallery h2 {margin-left:150px; background-color:aqua;}

#gallery div {background-color:aqua; height:300px;}

/*제목을 클릭하면 해당되는 요소가 보인다(1) 
#notigel> div:target {z-index:1;}*/