@charset "utf-8";

* {margin: 0; padding: 0; box-sizing: border-box;}
img {display: block;}
a {text-decoration: none; color: black;}


header {
    text-align: right;
    padding: 20px;
    position: relative;
    background-color: white;
}
header nav {
    background-color: rgba(0, 0, 0, 0.85);
    height: 0;
    line-height: 200%;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    transition: all 0.7s;
}
header nav a {
    display: block;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 30px;
}

/* header:hover nav {height: 100vh; padding: 50px;} */

header button.material-symbols-outlined {
    border: none;
    background: none;
    font-size: 2rem;
    margin-bottom: 20px;
}

/**************************/
footer {
    background-color: black;
    padding: 30px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
footer nav a {
    color: white;
}