/* styles.css */
#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    display: none; /* 처음에는 버튼 숨김 */
  }
  
  #scrollToTopBtn:hover {
    background-color: #0056b3;
  }
  