@charset "UTF-8";

* {margin: 0; padding: 0; box-sizing: border-box;}
h1 {display: none;}
a  {text-decoration: none; color: black;}
img {display: block;}

#layout {
    max-width: 1200px;
    margin: auto;
}

/**헤더(header)**/
header {
    height: 120px;       /*로고 크기가 바뀌면 수정할 것*/
    display: flex;
    padding: 10px;
}
 /*로고*/
#logo{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

 /*메뉴*/
#menu {
    flex: 4;
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 30px;
}
#menu li {
    margin-right: 30px;
    font-weight: bold;
}
#menu li:hover a {
    color: burlywood;
}

 /*로그인 개인페이지*/
#login {
    flex: 2;
    display: flex;
    justify-content: end;
    align-items: center;
}
#login a {
    display: block;
    margin-left: 10px;
}
#login a:hover {
    color: burlywood;
}


/**메인(main)**/
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 200,
  'opsz' 24
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 200,
  'opsz' 24
}

