@charset "utf-8";

* {margin: 0; padding: 0; box-sizing: border-box;}
img {max-width: 100%;}
a {text-decoration: none; color: black;}
h1 {display: none;}

#layout {
    max-width: 1100px;
    margin: auto;
}


/******헤더(header)******/
header {
    background-color: aliceblue;
    text-align: center;
}
header> div span {
    float: right;
    background-color: blanchedalmond;
    padding: 5px;
}

/*전체메뉴(.menu)*/
.menu {
    display: flex;
    list-style: none;
    text-align: center;
}
.menu li {
    flex: 1;
}
/*메인메뉴(.mainmenu)*/
.mainMenu {
    background-color: azure;
}
/*서브메뉴(.submenu)*/
.subMenu {
    background-color: beige;
}
.subMenu a {display: block;}







/******슬라이드(slide)******/
#slide {
    background-color: antiquewhite;
}


/******메인(main)******/
main {
    background-color: aqua;
}


/******푸터(footer)******/
footer {
    background-color: aquamarine;
}