
* {margin: 0; padding: 0; box-sizing: border-box;}
#layout {max-width: 900px;}

/*************헤더*************/
header {
    text-align: center;
}

/*************메뉴*************/
ul {
    list-style: none;
    display: flex;
}
li {
    flex: 1;
    text-align: center;
}

/*************슬라이드*************/
/*************메인*************/
/*************푸터*************/