@charset "utf-8";

* {margin: 0; padding: 0; box-sizing: border-box;}
::-webkit-scrollbar{width: 0;}
img {display: block; max-width: 100%;}
a {text-decoration: none; color: black;}
h1 {display: none;}

#layout {
   max-width: 1200px;
   margin: auto;
}


/******헤더(header)******/
header {
    background-color: aliceblue;
    position: relative;
}
#logo {
    display: flex; position: relative;
    justify-content: center
}
header> div:first-of-type {
    display: flex;
    justify-content: end;
}
header> div span {
    background-color: blanchedalmond;
    padding: 10px;
}

/*전체메뉴(.menu)*/
.menu {
    display: flex;
    position: relative;
    max-width: 900px;
    list-style: none;
    text-align: center;
    background-color: bisque;
    z-index: 1;
    border-radius: 10px;
    margin: 15px auto 0;
}
.menu li {
    flex: 1;
    position: relative;
}
.menu li:hover .subMenu {
    height: 120px;
    padding: 5px 0;
}
/*메인메뉴(.mainmenu)*/
.mainMenu {
    display: block;
    padding: 10px;
    position: relative;
}
.mainMenu::before {
    position:absolute;
    content:"";
    top:calc((100% - 50%) / 2);
    right:0;
    width:2px;
    height:50%;
    background-color: white;
    /*문제가 있음*/
}

/*서브메뉴(.submenu)*/
.subMenu {
    position: absolute;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: whitesmoke;
    transition: all 0.3s;
}
.subMenu a {
    display: block;
    margin: 3px 0;
    padding: 5px;
}
.subMenu a:hover {
    background-color: antiquewhite;
}


/************************************************************/
/* 제목(title) */
#title {
    max-width: 1200px;
    height: 150px;
    margin: 0 auto 30px;
    padding: 30px 50px;
    display: flex;
    align-items: flex-end;
    background: linear-gradient(rgba(0,0,0,0), lightyellow);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}