* {margin: 0; padding: 0; box-sizing: border-box;}

#layout {max-width: 900px; margin: auto; border: 2px solid red;}

header {display: flex; background-color: aliceblue; padding: 10px;}
h1 {display: none;}
#logo {flex: 1; text-align: center; background-color: aqua;}
nav {flex:3; text-align: center; display: flex; justify-content: space-evenly;}
nav a {background-color: antiquewhite; padding: 5px 10px;}

nav a:nth-of-type(2) {transform: translateX(-30px);}
nav a:hover {background-color: red; font-weight: bold; transform: scale(1.2);}
nav a:nth-of-type(2):hover {transform: scale(1.2) translateX(-30px);}

main {display: flex; height: 60vh;}
section {border: 1px solid green; flex:1; transition: transform 0.8s; display: flex; justify-content: center; align-items: center;}
section:hover {transform: rotate(-15deg); background-color: gold; box-shadow: 2px 2px 4px gray;}

footer {background-color: #ddd; padding:8px; display:flex;}
footer p {flex:1; border:1px dashed black;}

footer p:first-of-type {transition: 0.5s;}
footer p:first-of-type:hover {transform:translateX(60%); background: rgba(255,255,255, 0.6);}