@charset "utf-8";

footer {
    position: relative;
    background-color: #ddd;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2% 3%;
}
footer img {
    width: 24px; height: 24px;
    /* flex: 1; */
}