@charset "utf-8";

header {
    position: relative;
    background-color: #ddd;
    display: flex;
    justify-items: start;
    align-items: center;
    padding: 2% 3%;
}
header> div {flex: 1;}
/* header> div:nth-of-type(2) {flex: 1;} */
/* header> div:nth-of-type(3) {float: right;} */

#camera {
    width: 24px; height: 24px;
    background-color: black;
    border-radius: 50%;
}
header> .icon {
    display: flex;
    justify-content: end;
}
header> .icon> img{
    width: 24px; height: 24px;
    margin-left: 5px;
}